.App {
    display: flex;
    flex-direction: column; 
    /* stacks item on top of each other */
    align-items: center; /* centers items horizontally */
    /* justify-content: center;  doesn't do it because the app itself needs to have extended to the bottom*/
    height: 100vh;
    justify-content: center;

}

.appear {
    font-size: 70px;
    color: red;
}

.disappear {
    font-size: 70px;
    color: blue;
}

.drink {
    font-size: 70px;
    color: rgb(255, 196, 0);
}
